@page
@model IdentityApp.Pages.Invoices.EditModel

@{
    ViewData["Title"] = "Edit";
}




<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Edit Your Invoice</h1>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Invoice.InvoiceId" />
            <div class="form-group">
                <label asp-for="Invoice.InvoiceAmount" class="control-label"></label>
                <input asp-for="Invoice.InvoiceAmount" class="form-control" />
                <span asp-validation-for="Invoice.InvoiceAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.InvoiceMonth" class="control-label"></label>
                <input asp-for="Invoice.InvoiceMonth" class="form-control" />
                <span asp-validation-for="Invoice.InvoiceMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.InvoiceOwner" class="control-label"></label>
                <input asp-for="Invoice.InvoiceOwner" class="form-control" />
                <span asp-validation-for="Invoice.InvoiceOwner" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary w-100" />
                    </div>
                </div>
                <div class="col-6">
                    <a class="btn btn-info w-100" asp-page="./Index">View List</a>
                </div>
            </div>
          
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
